<a href="https://colab.research.google.com/github/sengupta-arijit-rij/Machine-Learning/blob/WorkingBranch/PT_DS_ttests_Assignment_ArijitSengupta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1:

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#  Load the data
# URL for the dataset
data_url = 'https://raw.githubusercontent.com/pixeltests/datasets/main/Mosquito.csv'
df_mosquito=pd.read_csv(data_url)
df_mosquito.head()

   ID  Mosq_count
0   1           4
1   2          10
2   3          13
3   4           0
4   5          11

Task 2:

In [3]:
# calculate mean
mosquito_touch_mean=df_mosquito['Mosq_count'].mean()
mosquito_touch_mean

8.011111111111111

Task 3:

In [4]:
# calculate standard deviation
mosquito_touch_std=df_mosquito['Mosq_count'].std()
mosquito_touch_std

3.2825532828777257

Task 4:

D:  H0:μ=8.2  vs.  Ha:μ≠8.2

Task 5:

In [6]:
#  One-sample t-test
tstatistic,mosquito_pval=st.stats.ttest_1samp(df_mosquito['Mosq_count'], 8.2)
print(tstatistic, mosquito_pval)

-0.5459035044790239 0.5864980356272131

Task 6:

In [ ]:
# Answer = C: We fail to reject the null hypothesis at the 0.05 significance level and conclude that a single repellant patch does not change the mean number of mosquito touches.

Task 7:

In [8]:
#  Load the next dataset
data_url2 = 'https://raw.githubusercontent.com/pixeltests/datasets/main/Disney.csv'
df_disney=pd.read_csv(data_url2)
df_disney.head()

   ID gender  age   group      time
0   1      M   30  M30-34  2.371944
1   2      M   26  M25-29  2.450556
2   3      M   32  M30-34  2.457778
3   4      M   35  M35-39  2.655833
4   5      M   26  M25-29  2.736111

Task 8:

In [ ]:
# B:  H0:μ1=μ2  vs.  Ha:μ1≠μ2

Task 9:

In [11]:
# Create new series from a DataFrame
male_finish=df_disney['time'][df_disney['gender']=='M']
male_finish.head()

female_finish=df_disney['time'][df_disney['gender']=='F']
female_finish.head()

16    2.905278
27    2.985278
61    3.207778
69    3.244444
85    3.290833
Name: time, dtype: float64

Task 10:

In [13]:
# Calculate the mean finishing times
male_finish_mean=male_finish.mean()
female_finish_mean=female_finish.mean()
print(male_finish_mean, female_finish_mean)

5.7991597824000305 6.2918419887561425

Task 11:

In [15]:
# Calculate the standard deviation
male_finish_std=male_finish.std()
female_finish_std=female_finish.std()
print(male_finish_std, female_finish_std)

1.100676340530381 0.8966901003513601

Task 12:

In [20]:
#  Conduct a 2-sample t-test
disney_tval,disney_pval=st.stats.ttest_ind(male_finish, female_finish, equal_var=False)
print(disney_tval,disney_pval)

-28.881795086313662 1.0608693620902552e-177

Task 13:

In [ ]:
# Answer = 'C'
# C: We reject the null hypothesis at the 0.05 significance level and conclude the mean finishing time for male and female marathon runners is the same.